@charset "ISO-8859-1";

.custom-body {
	background-color: #eee;
}

.login-container {
	max-width: 360px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.registration-container {
	max-width: 600px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;	
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}