<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="custom-body">
<div class="registration-container">
		<form autocomplete="off" action="#" th:action="@{/registration}"
			th:object="${user}" method="post" role="form">
			<h2>Registration Form</h2>
			<div class="form-group">
				<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
						class="validation-message"></label>
				<input type="text" th:field="*{name}" placeholder="Name"
						class="form-control" /> 
			</div>

			<div class="form-group">
				<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
						class="validation-message"></label>
					<input type="text" th:field="*{lastName}"
						placeholder="Last Name" class="form-control" /> 
			</div>
			<div class="form-group">
					<input type="text" th:field="*{email}" placeholder="Email"
						class="form-control" /> <label
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
						class="validation-message"></label>
			</div>
			<div class="form-group">
					<input type="password" th:field="*{password}"
						placeholder="Password" class="form-control" /> <label
						th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
						class="validation-message"></label>
			</div>

			<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">Register</button>
			</div>
			
			<span th:utext="${successMessage}"></span>
			
			<a class="link" href="/login">Already has an account? Sign in by clicking here</a>	
			
		</form>

</div>

</body>
</html>